<head>
  <link rel="stylesheet" href="final.css">
</head><div class="chat-container">
	<ul class="chat">
		<li class="message left">
			<img class="logo" src="https://wallpaperaccess.com/full/344984.jpg" alt="">
			<p>how may I help you? </p>
		</li>
		<li class="message right">
			<img class="logo" src="https://randomuser.me/api/portraits/men/67.jpg" alt="">
			<p>kindly provide me the information about ongoing diseases</p>
		</li>
		<li class="message left">
			<img class="logo" src="https://wallpaperaccess.com/full/344984.jpg" alt="">
			<p>In India, several diseases continue to pose ongoing health challenges. Foremost among these is COVID-19, the viral pandemic caused by SARS-CoV-2, which has led to widespread infections and necessitated extensive public health interventions, including vaccination campaigns and containment measures.</p>
		</li>
		<li class="message right">
			<img class="logo" src="https://randomuser.me/api/portraits/men/67.jpg" alt="">
			<p>what else are the ongoing diseases?</p>
		</li>
		<li class="message left">
			<img class="logo" src="https://wallpaperaccess.com/full/344984.jpg" alt="">
			<p>Dengue fever, a mosquito-borne illness, remains a concern, particularly during the monsoon season, alongside malaria, another mosquito-borne disease endemic to the region. Tuberculosis (TB) continues to be a significant burden, with efforts focused on early detection and treatment. </p>
		</li>
		<li class="message right">
			<img class="logo" src="https://randomuser.me/api/portraits/men/67.jpg" alt="">
			<p></p>
		</li>
	</ul>
	<input type="text" class="text_input" placeholder="Message...">
</div>