<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        body {
          background-image: url('https://wallpaperboat.com/wp-content/uploads/2019/06/medical-05.jpg');
        }
        </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HealthConnect</title>
    <!-- <link rel="Stylesheet" href="style.css" /> -->
    <style>
        body,ul,h3,h2,h4 {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    
}
form{
    width:50%;
}
.conta{
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    height: 20%;
    margin-bottom: 30px;
    background-color: white;
}

.container {
    animation-name: fadeIn;
    animation-duration: 3s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h3 {
    font-size: 45px;
    margin-top: 10px;
    color: #007bff;
}

h4 {
    font-size: 35px;
    margin-top: 10px;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    font-size: 25px;
    margin-top: 6px;
}

button {
    background-color: #000fff;
    color: #fff;
    padding: 20px 80px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}


button:hover {
    background-color: #0056b3;
}
    </style>
  </head>
  <body>
    <form method="get" action="">
   <div class="conta">
    <div class="container">
      <h4>Cardiologist</h4>
      <h3>20 MAY , 2024</h3>
      <ul>
        <li>Delhi, Ghaziabad, Noida, South</li>
        <li>₹ 2,00,000 - 2,50,000></li>
        <li>50 years experience</li>
      </ul></div>
      <button>Join</button>
    </div>
    <div class="conta">
        <div class="container">
          <h4>Dermatologist</h4>
          <h3>22 June , 2024</h3>
          <ul>
            <li>Delhi, Ghaziabad, Noida, South</li>
            <li>₹ 1,00,000 - 1,50,000></li>
            <li>30 years experience</li>
          </ul></div>
          <button>Join</button>
        </div>
        <div class="conta">
            <div class="container">
              <h4>Neurologist</h4>
              <h3>23 June , 2024</h3>
              <ul>
                <li>Delhi, Ghaziabad, Noida, South</li>
                <li>Free></li>
                <li>54 years experience</li>
              </ul></div>
              <button  type="submit" >Join</button>
            </div><div class="conta">
                <div class="container">
                  <h4>Orthopedic Surgeon</h4>
                  <h3>5 Aug , 2024</h3>
                  <ul>
                    <li>Delhi, Gurugram</li>
                    <li>₹ 2,00,000 - 2,50,000></li>
                    <li>22 years experience</li>
                  </ul></div>
                  <button>Join</button>
                </div>
            <div class="conta">
                <div class="container">
                  <h4>Psychiatrist</h4>
                  <h3>22 Oct , 2024</h3>
                  <ul>
                    <li>South India</li>
                    <li>free</li>
                    <li></li>
                  </ul>20 years experience</div>
                  <button>Join</button>
                </div>
        </form>
  </body>
</html>